<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <title>
      Data Course Study Questions
    </title>
  </head>

  <div class="container">
    
    <main role="main">
      <div class="jumbotron">
        <h1 class="display-4">
	  <a href="/">
	    Data Course Study Questions
	  </a>
	</h1>
        <p class="lead">
	  This is a collection of study problems for a data
	  bootcamp.  Select a topic below!
	</p>

	
	{% if topics %}
	<ul class="list-group">
	  {% for topic in topics %}
	  <a class="list-group-item" href="/topic/{{ topic.topic_short }}">
	    {{ topic.topic_name }}
	  </a>
	  {% endfor %}
	</ul>
	{% else %}
	<p>
	  What with the no topics?!
	</p>
	{% endif %}

	<br><br>

	
	{% block problemset %}
	{% endblock %}
	
      </div>
    </main>
  </div>
  
</body>

</html>
