{% extends 'base.html' %}

{% block problemset %}
{% if questions %}
<h1 class="display-5">
  {{ topic.topic_name }}
</h1>
<div class="row">
  {% for question in questions %}
  <div id="accordion" role="tablist" class="col-lg-6" style="padding-bottom:20px;">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
	<h5 class="mb-0">
	  Question
	</h5>
      </div>

      <div id="collapseOne-{{ question.id }}" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
	<div class="card-body">
	  {{ question.question_text }}
	</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
	<h5 class="mb-0">
	  <a class="collapsed" data-toggle="collapse" href="#collapseTwo-{{ question.id }}" aria-expanded="false" aria-controls="collapseTwo">
	    Answer
	  </a>
	</h5>
      </div>
      <div id="collapseTwo-{{ question.id }}" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
	<div class="card-body">
	  {{ question.answer_text }}
	</div>
      </div>
    </div>
  </div>
  

  <br><br>
  
  {% endfor %}
  {% else %}
  <h5>
    Sorry, the are not any questions on this topic yet.  Check
    back soon!
  </h5>
  {% endif %}
  {% endblock %}
